fastapi
uvicorn
motor
pydantic
pydantic-settings
python-dotenv 
faiss-cpu
youtube-transcript-api
openai-whisper 
yt-dlp
langchain 
langchain-community 
langchain-huggingface 
tiktoken
langchain-text-splitters
langchain-groq
langchain-classic
passlib[bcrypt] 
pyjwt
pydantic[email]
passlib[bcrypt]
bcrypt
pinecone-client
langchain-pinecone
pinecone